.env
__pycache__/
*.pyc
*.pyo
venv/

# JSON data fayllar (GitHub ga yuklanmasligi kerak)
users.json
furniture_data.json
orders.json
notifications.json
sellers.json
misol.json
*.json

# Yuklangan rasmlar
static/rooms/
static/previews/
static/furniture/